$app-red: #e08b1b;
$app-grey: #313e48;
$app-light-grey: #ececec;
$font-family: 'Roboto', sans-serif;

$text-color:       #111;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);

// Platform variables:

$scroll-to-top-bg: #009edb;
$content-link: #009edb;
