<div class="section-fluid footer-fluid">
    <footer class="footer-un2 container dark">
        <div class="row"><!-- row -->
            <div class="col-md-12">
                <div class="pull-left flip footer-brand en"><!-- footer brand -->
                    <a href="https://www.un.org/en/" title="Home">
                        <span class="site-name">United Nations</span></a>
                </div><!-- /footer brand -->
                <div class="pull-right flip donate">
                    <a href="/en/sections/about-un/how-donate-united-nations-system/" class="btn btn-default btn-reverse dark" role="button" id="donate_button">Donate</a>
                </div>
                <div class="pull-right flip social-media" role="navigation"><!-- social media links -->
                    <ul class="nav list-inline">
                        <li class="list-inline-item facebook"><a href="https://www.facebook.com/unitednations"><span class="icon-text">facebook</span></a></li><li class="list-inline-item twitter"><a href="http://twitter.com/un"><span class="icon-text">twitter</span></a></li><li class="list-inline-item youtube"><a href="http://www.youtube.com/unitednations"><span class="icon-text">youtube</span></a></li><li class="list-inline-item flickr"><a href="http://www.flickr.com/photos/un_photo/"><span class="icon-text">flickr</span></a></li><li class="list-inline-item instagram"><a href="http://instagram.com/unitednations"><span class="icon-text">instagram</span></a></li>					</ul>
                </div><!-- /social media links -->
            </div>
        </div><!-- /row -->
        <div class="row footer-links"><!-- row -->
            <div class="divider"></div><!-- top border -->
            <div class="col-md-12">
                <div class="pull-right flip">
                    <div id="block-menu-menu-footer-links" class="block block-menu" role="navigation">
                        <ul class="nav list-inline">
                            <li class="list-inline-item "><a href="https://www.un.org/en/sections/about-website/z-site-index/">A-Z Site Index</a></li><li class="list-inline-item "><a href="https://www.un.org/en/contact-us/">Contact</a></li><li class="list-inline-item "><a href="https://www.un.org/en/sections/about-website/copyright/">Copyright</a></li><li class="list-inline-item "><a href="https://www.un.org/en/sections/about-un/frequently-asked-questions/">FAQ</a></li><li class="list-inline-item "><a href="https://www.un.org/en/sections/about-website/fraud-alert/">Fraud Alert</a></li><li class="list-inline-item "><a href="https://www.un.org/en/sections/about-website/privacy-notice/">Privacy Notice</a></li><li class="list-inline-item last"><a href="https://www.un.org/en/sections/about-website/terms-use/">Terms of Use</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!-- /row -->
    </footer>
</div>