<header class="header">
    <div class="header-line">
        <div class="wrapper">
            <div id="mobile-menu-wrapper" class="mobile-menu">
                <button id="hamburger-menu" class="hamburger-menu">
                    <span>toggle menu</span>
                </button>
                <div id="mobile-menu" style="display: none;">
                    {% include header-menu.html %}
                    {% include sidebar-menu.html %}
                </div>
            </div>
            <a href="/" class="logo"><img src="{{site.baseurl}}/images/logo-horisontal-white.svg" alt="edi3"></a>
            <div class="header-search">
                <script>
                    (function() {
                        var cx = '002841699265932723855:7gvs7wrhud8';
                        var gcse = document.createElement('script');
                        gcse.type = 'text/javascript';
                        gcse.async = true;
                        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(gcse, s);
                    })();
                </script>
                <gcse:search></gcse:search>
            </div>
            {% include header-menu.html %}
        </div>
    </div>
    <div class="header-content">
        <div class="wrapper">
            <div class="header-text-box">
                <div class="header-name">
                    {% if include.header_name %}
                        {{ include.header_name }}
                    {% else %}
                        edi3 Standards
                    {% endif %}
                </div>
                <div class="header-tagline">
                    {% if include.header_description %}
                        {{ include.header_description | markdownify }}
                    {% else %}
                        Supply Chain Standards and Tools for Web Developers
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>
<script type="text/javascript">
    document.getElementById('hamburger-menu').onclick = function() {
        var nf = document.getElementById('mobile-menu');

        if(nf.style.display==='none') {
            nf.style.display = 'block';
        }
        else {
            nf.style.display = 'none';
        }
    };

    window.addEventListener('click', function(e){
        if (!document.getElementById('mobile-menu-wrapper').contains(e.target)){
            document.getElementById('mobile-menu').style.display= 'none';
        }
    })
</script>
