<ul class="sidebar-menu">
    {% assign current = page.url | downcase | split: '/' %}
    <li class="menu-title"><a href="/"{% if page.url == "/" %} class="active"{% endif %}>Overview</a></li>
    <li><a {% if current[1] == 'governance' or current[2] == 'governance' %}class="active"{% endif %} href="/governance/">Governance</a></li>
    <li><a {% if current[1] == 'business-case' or current[2] == 'business-case' %}class="active"{% endif %} href="/business-case/">Business Case</a></li>
    <li class="menu-title"><a href="/semantic-specs/"{% if current[1] == 'semantic-specs' or current[2] == 'semantic-specs' %} class="active"{% endif %}>Semantic Specs</a></li>
    <li><a {% if current[1] == 'trade' or current[2] == 'trade' %}class="active"{% endif %} href="/trade/">Trade Domain</a></li>
    <li><a {% if current[1] == 'transport' or current[2] == 'transport' %}class="active"{% endif %} href="/transport/">Transport Domain</a></li>
    <li><a {% if current[1] == 'regulatory' or current[2] == 'regulatory' %}class="active"{% endif %} href="/regulatory/">Regulatory Domain</a></li>
    <li><a {% if current[1] == 'finance' or current[2] == 'finance' %}class="active"{% endif %} href="/finance/">Finance Domain</a></li>
    <li><a {% if current[1] == 'unlocode' or current[2] == 'unlocode' %}class="active"{% endif %} href="/unlocode/">UN Locode</a></li>
    <li><a {% if current[1] == 'dictionary' or current[2] == 'dictionary' %}class="active"{% endif %} href="/dictionary/">Dictionary</a></li>
    <li class="menu-title"><a href="/technical-specs/"{% if current[1] == 'technical-specs' or current[2] == 'technical-specs' %} class="active"{% endif %}>Technical Specs</a></li>
    <li><a {% if current[1] == 'identity' or current[2] == 'identity' %}class="active"{% endif %} href="/identity/">Identity Provider</a></li>
    <li><a {% if current[1] == 'discovery' or current[2] == 'discovery' %}class="active"{% endif %} href="/discovery/">Resource Discovery</a></li>
    <li><a {% if current[1] == 'description' or current[2] == 'description' %}class="active"{% endif %} href="/description/">Resource Description</a></li>
    <li><a {% if current[1] == 'events' or current[2] == 'events' %}class="active"{% endif %} href="/events/">Event Structure</a></li>
    <li><a {% if current[1] == 'notary' or current[2] == 'notary' %}class="active"{% endif %} href="/notary/">Notary Service</a></li>
    <li class="menu-title"><a href="/tools-and-methods/"{% if current[1] == 'tools-and-methods' or current[2] == 'tools-and-methods' %} class="active"{% endif %}>Tools and Methods</a></li>
    <li><a {% if current[1] == 'uml-profile' or current[2] == 'uml-profile' %}class="active"{% endif %} href="/uml-profile/">UML Profile</a></li>
    <li><a {% if current[1] == 'api-ndr' or current[2] == 'api-ndr' %}class="active"{% endif %} href="/api-ndr/">OpenAPI NDR</a></li>
    <li><a {% if current[1] == 'json-ld-ndr' or current[2] == 'json-ld-ndr' %}class="active"{% endif %} href="/json-ld-ndr/">JSON-LD NDR</a></li>
    <li><a {% if current[1] == 'api-conformance' or current[2] == 'api-conformance' %}class="active"{% endif %} href="/api-conformance/">API Conformance</a></li>
    <li><a {% if current[1] == 'model-interchange' or current[2] == 'model-interchange' %}class="active"{% endif %} href="/model-interchange/">Model Interchange</a></li>
    <li class="menu-title"><a href="/community/"{% if current[1] == 'community' or current[2] == 'community' %} class="active"{% endif %}>Community</a></li>
    <li><a href="http://eepurl.com/dMLfdU" target="_blank">Newsletter (subscribe)</a></li>
    <li><a href="http://chat.edi3.org" target="_blank">Chat (join team)</a></li>
    <li><a href="https://github.com/edi3/" target="_blank">GitHub</a></li>
</ul>
