{% assign data_models = "" | split: ',' %}
{% assign code_lists = "" | split: ',' %}
{% assign unlocodes = "" | split: ',' %}
{% assign uncls = "" | split: ',' %}

{% for vocabulary_item in site.vocabulary%}
    {% if vocabulary_item.type == "data-model" %}
        {% assign data_models = data_models | push: vocabulary_item %}
    {% endif %}
    {% if vocabulary_item.type == "code-list" %}
        {% assign code_lists = code_lists | push: vocabulary_item %}
    {% endif %}
    {% if vocabulary_item.type == "unlocode" %}
        {% assign unlocodes = unlocodes | push: vocabulary_item %}
    {% endif %}
    {% if vocabulary_item.type == "uncl" %}
        {% assign uncls = uncls | push: vocabulary_item %}
    {% endif %}
{% endfor %}

<div class="sidebar-menu-section">
    <div class="sidebar-section-title">Data Models</div>
    {% for vocabulary_item in data_models %}
        <div class="collapsible menu-header"><span class="menu-text">{{ vocabulary_item.name }}</span></div>
        <div class="vocabulary-submenu" style="display: none;">
            <div class="collapsible menu-subheader"><span class="menu-text">Classes</span></div>
            {% assign vocab = site.data[vocabulary_item.jsonid] %}
            {% assign graphItems = vocab["@graph"] %}
            <ul class="collapsible-content sidebar-menu" style="display: none;">
                {% for graphItem in graphItems %}
                {% if graphItem["@type"] == "rdfs:Class" %}
                <li>
                    <a title='{{ graphItem["@id"] | replace_first: "uncefact:", "" }}' href='{{site.baseurl}}{{ vocabulary_item.url }}#{{ graphItem["@id"] | replace_first: "uncefact:", "" }}'>{{ graphItem["@id"] | replace_first: "uncefact:", "" | truncate: 25, "..." }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
            <div class="collapsible menu-subheader"><span class="menu-text">Properties</span></div>
            <ul class="collapsible-content sidebar-menu" style="display: none;">
                {% for graphItem in graphItems %}
                {% if graphItem["@type"] == "rdf:Property" %}
                <li>
                    <a title='{{ graphItem["@id"] | replace_first: "uncefact:", "" }}' href='{{site.baseurl}}{{ vocabulary_item.url }}#{{ graphItem["@id"]  | replace_first: "uncefact:", "" }}'>{{ graphItem["@id"] | replace_first: "uncefact:", "" | truncate: 25, "..." }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>
<div class="sidebar-menu-section">
    <div class="sidebar-section-title">Code Lists</div>
    {% for vocabulary_item in code_lists %}
        <div class="collapsible menu-subheader"><span class="menu-text">{{ vocabulary_item.name }}</span></div>
        <ul class="collapsible-content sidebar-menu" style="display: none;">
            {% assign vocab = site.data[vocabulary_item.jsonid] %}
            {% assign codeListItems = vocab["@graph"] %}
            {% for codeListItem in codeListItems %}
                <li>
                    <a title='{{ codeListItem["@id"] | replace_first: vocabulary_item.jsonid, "" | replace_first: ":", "" }}' href='{{site.baseurl}}{{ vocabulary_item.url }}#{{ codeListItem["@id"] | replace_first: vocabulary_item.jsonid, "" | replace_first: ":", "" }}'>{{ codeListItem["@id"] | replace_first: vocabulary_item.jsonid, "" | replace_first: ":", "" | truncate: 25, "..." }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
    <div class="collapsible menu-subheader"><span class="menu-text">UN/LOCODE</span></div>
    <ul class="collapsible-content sidebar-menu" style="display: none;">
    {% for vocabulary_item in unlocodes %}
        <li>
            <a title='{{ vocabulary_item.name }}' href='{{site.baseurl}}{{ vocabulary_item.url }}'>{{ vocabulary_item.name | truncate: 25, "..." }}</a>
        </li>
    {% endfor %}
    </ul>
    <div class="collapsible menu-subheader"><span class="menu-text">UN/EDIFACT Consolidated Code List (UNCL)</span></div>
    <ul class="collapsible-content sidebar-menu" style="display: none;">
    {% for vocabulary_item in uncls %}
        <li>
            <a title='{{ vocabulary_item.name }}' href='{{site.baseurl}}{{ vocabulary_item.url }}'>{{ vocabulary_item.name | truncate: 25, "..." }}</a>
        </li>
    {% endfor %}
    </ul>
</div>