.header{
  background: $app-red;

  .logo{
    float: left;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 29px;

    span{
      display: inline-block;
      vertical-align: middle;
      padding: 0 0 0 8px;
    }

    img{
      max-height: 29px;
      vertical-align: middle;
    }
  }

  .header-line{
    padding: 16px 0 24px 0;

    &:after{
      display: table;
      clear: both;
      content: '';
    }
  }

  .header-menu{
    float: right;
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;

    li{
      float: left;
    }

    a{
      display: block;
      text-decoration: none;
      color: #fff;
      font-size: 16px;
      padding: 5px 15px;

      @media screen and (max-width: 960px){
        padding: 5px 8px;
      }

      &:hover, &.active{
        background: $app-grey;
      }
    }

  }

  .header-search{
    float: right;
    padding: 0;
    margin: 15px 0 0 0;
    width: 250px;
    height: 27px;

    @media screen and (max-width: 640px){
      display: block;
      width: 100%;
      float: none;
      margin-top: 20px;
    }

    .gsc-control-cse{
      background: none;
      border: 0;
      padding: 0;
    }

    form.gsc-search-box{
      margin: 0;
    }

    .gsc-search-button{
      background: #313e48 url("https://www.google.com/uds/css/v2/search_box_icon.png") no-repeat 50% 50%;
      border: 0;
      border-radius: 5px;
      display: block;
      width: 33px;
      height: 25px;
      margin-top: 0;

      &:hover{
        background-color: #939393;
      }
    }

    .gsib_a{
      padding: 4px 5px 2px 5px;
    }
    .gsib_b{
      padding: 0;
    }

    .gsst_a{
      padding-top: 7px;
    }

    input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus{
      border: 0;
      padding: 0;
    }
  }

  .header-content{
    background: $app-grey;
    text-align: center;
    color: #fff;
    font-size: 18px;
    padding: 91px 0 98px 0;

    .img{
      display: inline-block;
      vertical-align: top;
    }

    .header-text-box{
      display: inline-block;
      vertical-align: top;
    }

    .header-name{
      font-weight: 700;
      font-size: 40px;
      margin: 0 0 12px 0;
    }

  }

  .mobile-menu{
    display: inline-block;
  }

  .hamburger-menu{
    display: none;
  }

  #mobile-menu{
    position: absolute;
    left: 0;
    top: 60px;
    background: $app-red;
    padding: 0 0 10px 0;
  }

  .hamburger-menu {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 34px;
    height: 24px;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    background: none;

    :focus {
      outline: none;
    }

    span {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 4px;
      background: white;

      &::before,
      &::after {
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #fff;
        content: "";
      }

      &::before {
        top: 10px;
      }

      &::after {
        top: 20px;
      }

    }
  }

  @media (max-width: 767px){
    .hamburger-menu{
      display: inline-block;
      vertical-align: middle;
    }

    .logo{
      float: none;
      font-size: 20px;
      line-height: 24px;
      vertical-align: top;

      img{
        max-height: 24px;
      }

    }

    .header-menu{
      display: none;
    }

    .mobile-menu{
      margin-right: 15px;

      .sidebar-menu, .header-menu{
        display: block;
        list-style: none;
        margin: 0;

        li{
          display: block;
          float: none;


          &.menu-title{
            padding: 6px 19px 8px 19px;
            color: #fff;
            font-weight: 600;
            font-size: 16px;
          }

        }

        a{
          display: block;
          padding: 6px 20px 6px 30px;
          color: #fff;
          font-size: 16px;
          text-decoration: none;

          &.active{
            font-weight: 600;
            background: #ee4901;
          }
        }
      }
    }



  }

}