@media print { /* Стиль для печати */
  @page {
    margin: 1cm;
  }
  *,
  *:before,
  *:after,
  *:first-letter,
  p:first-line,
  div:first-line,
  blockquote:first-line,
  li:first-line {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  body {
    background: #fff;
  }

  .main-content{
    padding: 0 !important;
    margin: 0 !important;
  }

  h1, h2, h3, h4, h5, h6{
    color: #000 !important;
  }

  .header, .footer, .page-sidebar{
    display: none !important;
  }

  a{
    text-decoration: underline;
    color: #000;
  }

  a:after{
    font-size:0.9em;
    font-weight:normal;
    text-decoration: none;
    word-break: break-all;
  }
  a[href^="http"]:after{
    content:" (" attr(href) ") ";
  }
  a:not([href*="http"]):after{
    content:" (http://edi3.org" attr(href) ") ";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="http"]:after{
    content:" (" attr(href) ") ";
  }
}