$swagger-response-margin: 50px;

@mixin swagger-method($color) {
    border: 1px solid $color;

    .swagger-method-title {
        background: lighten($color, 30%);
        font-weight: 400;
        font-size: $base-font-size;
        margin: 0;
        font-family: $font-family;
    }

    .swagger-method-link {
        color: darken($color, 20%);

        &:hover{
            text-decoration: none;
        }
    }

    .swagger-method-name {
        background: $color;
    }
}

.swagger-path, .page-content h2.swagger-path, .docs-content h2.swagger-path{
    font-size: $base-font-size * 1.2;
    margin: 25px 0 0 0;
    font-weight: 700;
}

.swagger-method {
    padding: 0;
    margin: 10px 0;
    border-radius: 5px;

}

.swagger-method-title {
    font-size: $base-font-size;
    margin: 0;
    cursor: pointer;
}

.swagger-method-link {
    &:hover {
        text-decoration: none;
    }
}

.swagger-method-name {
    padding: 6px 0;
    display: inline-block;
    width: 80px;
    text-align: center;
    color: white;
    margin-right: 10px;
}

.swagger-method-get {
    @include swagger-method(#6BBD5B);
}

.swagger-method-post {
    @include swagger-method(#248FB2);
}

.swagger-method-put {
    @include swagger-method(#9B708B);
}

.swagger-method-patch {
    @include swagger-method(#D88541);
}

.swagger-method-delete {
    @include swagger-method(#E27A7A);
}

.swagger-method-details {
    margin: 0;
    padding: 15px;
    display: none;

    &.open {
        display: block;
    }
}

.swagger-response {
    font-size: $base-font-size;

    .swagger-responses-title {
        margin: 10px 0 5px 0;
    }

    figure{
        margin: 0;
    }
}

.swagger-response-code {
    font-weight: 600;
    float: left;

    &:after {
        content: ' \2014 ';
    }
}

.swagger-response-description{
    margin: 0 0 0 $swagger-response-margin;

    p{
        margin: 0 0 5px 0;
    }
}

.swagger-parameters-table {
    border-spacing: 0;
    border-collapse: collapse;
    margin-bottom: $spacing-unit;
    width: 100%;

    th{
        white-space: nowrap;
    }

    th, td {
        border: 1px solid darken($grey-color-light, 5%);
        padding: 4px 10px;
    }

    th {
        background: lighten($grey-color-light, 6%);
    }
}

.swagger-parameter-required {
    white-space: nowrap;

    &:after {
        content: ' *';
        color: red;
    }
}

.swagger-content{
    h1{
        font-size: 26px;
        font-weight: 600;
        line-height: normal;

        .api-version{
            background: $app-light-grey;
            display: inline-block;
            padding: 2px 5px;
            vertical-align: top;
            font-size: 14px;
        }
    }

    .quick-description{
        font-size: 16px;
    }

    .swagger-base-url{
        font-size: 16px;
    }

    .swagger-method-description{
        font-family: $font-family;
        font-size: 16px;
    }

    .swagger-method-tags{
        font-family: $font-family;
        font-size: 16px;

        span{
            display: inline-block;
            padding: 0 7px;
            height: 20px;
            line-height: 20px;
            background: $app-grey;
            color: #fff;
            font-size: 12px;
        }
    }

    table {
        th, td{
            font-size: 14px;

            p{
                margin: 0;

                & + p{
                    margin-top: 15px;
                }
            }

            figure{
                margin: 0;
            }

        }

        td{
            vertical-align: top;
        }
    }

    .swagger-parameters-example, .swagger-response-example{
        display: none;
        font-size: 16px;

        &.open{
            display: block;
        }
    }

    .show-swagger-parameters-example, .show-swagger-response-example{
        color: $brand-color;
        text-decoration: underline;
        cursor: pointer;

        &:hover{
            text-decoration: none;
        }
    }



    .swagger-response-headers{
        h5{
            font-size: 14px;
        }

        table{
            display: table;

            th{
                white-space: nowrap;
            }

            th, td{
                font-size: 13px;
                text-align: left;

                &:last-child{
                    min-width: 2%;
                }

                p{
                    margin: 0;
                    line-height: normal;

                    & + p{
                        margin-top: 15px;
                    }
                }
            }
        }
    }

    .swagger-response-example-wrapper{
        margin: 0 0 0 $swagger-response-margin;
    }

    .swagger-response-example{
        display: none;

        &.open{
            display: block;
        }
    }
}