---
layout: compress
---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

{% include header.html header_name=page.header_name header_description=page.header_description %}

<div class="main-wrapper">
    <div class="main-content">
        <div class="page-sidebar vocabulary-sidebar">
            {% for vocabulary_item in site.vocabulary%}
                <div class="collapsible menu-header"><span class="menu-text">{{ vocabulary_item.name }}</span></div>
                <div class="vocabulary-submenu" style="display: none;">
                    <div class="collapsible menu-subheader"><span class="menu-text">Classes</span></div>
                    {% assign vocab = site.data[vocabulary_item.jsonid] %}
                    {% assign graphItems = vocab["@graph"] %}
                    <ul class="collapsible-content sidebar-menu" style="display: none;">
                        {% for graphItem in graphItems %}
                        {% if graphItem["@type"] == "rdfs:Class" %}
                        <li>
                            <a title='{{ graphItem["@id"] | replace_first: "edi3:", "" }}' href='#{{ graphItem["@id"] | replace_first: "edi3:", "" }}'>{{ graphItem["@id"] | replace_first: "edi3:", "" | truncate: 25, "..." }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    <div class="collapsible menu-subheader"><span class="menu-text">Properties</span></div>
                    <ul class="collapsible-content sidebar-menu" style="display: none;">
                        {% for graphItem in graphItems %}
                        {% if graphItem["@type"] == "rdfs:Property" %}
                        <li>
                            <a title='{{ graphItem["@id"] | replace_first: "edi3:", "" }}' href='#{{ graphItem["@id"]  | replace_first: "edi3:", "" }}'>{{ graphItem["@id"] | replace_first: "edi3:", "" | truncate: 25, "..." }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
        <div class="page-content vocabulary-content">
            {% assign vocab = site.data[page.jsonid] %}
            {% assign graphItems = vocab["@graph"] %}
            {% for graphItem in graphItems %}
                <div class="vocabulary-item-row" id="{{ graphItem["@id"] | replace_first: "edi3:", "" }}">
                    <h2 id="{{ graphItem["@id"] | replace_first: "edi3:", "" }}">{{ graphItem["@id"] | replace_first: "edi3:", "" }}</h2>
                    <ul class="vocabulary-item-data">
                        <li><strong>@id:</strong> {{ graphItem["@id"] }}
                        <li><strong>@type:</strong> {{ graphItem["@type"] }}</li>
                        {% if graphItem["rdfs:range"] %}
                            <li><strong>Range:</strong> {{ graphItem["rdfs:range"] }}</li>
                        {% endif %}
                        {% if graphItem["rdfs:domain"] %}
                            <li>
                                {% assign domains = graphItem["rdfs:domain"] %}
                                <strong>Domains:</strong>
                                {% if domains.first %}
                                    <br/>{% for domain in domains %}<a href="#{{ domain | replace_first: "edi3:", "" }}">{{ domain }}</a>{% if forloop.last == false %}, {% endif %}{% endfor %}
                                {% else %}
                                    <a href="#{{ domains | replace_first: "edi3:", "" }}">{{ domains }}</a>
                                {% endif %}
                            </li>
                        {% endif %}
                    </ul>
                    <div class="vocabulary-item-card">
                        <h3 class="collapsible" id="{{ graphItem["@id"] | replace_first: "edi3:", "" }}-cefact-data">CEFACT Element Data</h3>
                        <div class="collapsible-content" style="display: none;">
                        {% for cefactElementMetadata in graphItem["edi3:cefactElementMetadata"] %}
                        <table>
                            <tbody>
                                <tr>
                                    <th>@id</th>
                                    <td>{{cefactElementMetadata["@id"]}}</td>
                                </tr>
                                <tr>
                                    <th>@type</th>
                                    <td>{{cefactElementMetadata["@type"]}}</td>
                                </tr>
                                <tr>
                                    <th>edi3:cefactUNId</th>
                                    <td>{{cefactElementMetadata["edi3:cefactUNId"]}}</td>
                                </tr>
                                <tr>
                                    <th>rdfs:comment</th>
                                    <td><p>{{cefactElementMetadata["rdfs:comment"]}}</p></td>
                                </tr>
                                {% if cefactElementMetadata["edi3:cefactBieDomainClass"] %}
                                <tr>
                                    <th>edi3:cefactBieDomainClass</th>
                                    <td>{{cefactElementMetadata["edi3:cefactBieDomainClass"]}}</td>
                                </tr>
                                {% endif %}
                                <tr>
                                    <th>edi3:cefactBusinessProcess</th>
                                    <td>{{cefactElementMetadata["edi3:cefactBusinessProcess"]}}</td>
                                </tr>
                            </tbody>
                        </table>
                        {% endfor %}
                        </div>
                    </div>
                    {% assign currentClass = graphItem %}
                    {% assign item_ranges = "" %}
                    {% assign item_ranges = "" | split: ',' %}
                    {% for graphItem in graphItems %}
                        {% if graphItem["@type"] == "rdfs:Property" %}
                            {% if currentClass["@id"] contains graphItem["rdfs:range"] %}
                                {% assign item_ranges = item_ranges | push: graphItem %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    {% if item_ranges.first %}
                        <div class="vocabulary-item-card">
                            <h3 class="collapsible" id="{{ graphItem["@id"] | replace_first: "edi3:", "" }}-ranges">Range for</h3>
                            <div class="collapsible-content" style="display: none;">
                            {% for item_range in item_ranges %}
                                <a href="#{{ item_range["@id"] | replace_first: "edi3:", "" }}">{{ item_range["@id"] | replace_first: "edi3:", "" }}</a>{% if forloop.last == false %}, {% endif %}
                            {% endfor %}
                            </div>
                        </div>
                    {% endif %}


                    {% assign item_properties = "" %}
                    {% assign item_properties = "" | split: ',' %}
                    {% for graphItem in graphItems %}
                        {% if graphItem["@type"] == "rdfs:Property" %}
                            {% assign range = graphItem["rdfs:range"] | slice: 0, 4 %}
                            {% if range == "xsd:" %}
                                {% if currentClass["@id"] contains graphItem["rdfs:domain"] %}
                                    {% assign item_properties = item_properties | push: graphItem %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if item_properties.first %}
                        <div class="vocabulary-item-card">
                            <h3 class="collapsible" id="{{ graphItem["@id"] | replace_first: "edi3:", "" }}-properies">Properties</h3>
                            <div class="collapsible-content" style="display: none;">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for property in item_properties%}
                                    <tr>
                                        <th><a href="#{{ property["@id"] | replace_first: "edi3:", "" }}">{{property["@id"] | replace_first: "edi3:", ""}}</a></th>
                                        <td>{{property["rdfs:range"]}}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            </div>
                        </div>
                    {% endif %}

                    {% assign item_relationships = "" %}
                    {% assign item_relationships = "" | split: ',' %}
                    {% for graphItem in graphItems %}
                        {% if graphItem["@type"] == "rdfs:Property" %}
                            {% assign range = graphItem["rdfs:range"] | slice: 0, 4 %}
                            {% if range != "xsd:" %}
                                {% if currentClass["@id"] contains graphItem["rdfs:domain"] %}
                                    {% assign item_relationships = item_relationships | push: graphItem %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if item_relationships.first %}
                        <div class="vocabulary-item-card">
                            <h3 class="collapsible" id="{{ graphItem["@id"] | replace_first: "edi3:", "" }}-relationships">Relationships</h3>
                            <div class="collapsible-content" style="display: none;">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Type</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for relationship in item_relationships%}
                                            <tr>
                                                <th><a href="#{{ relationship["@id"] | replace_first: "edi3:", "" }}">{{relationship["@id"] | replace_first: "edi3:", ""}}</a></th>
                                                <td><a href="#{{ relationship["rdfs:range"] | replace_first: "edi3:", "" }}">{{relationship["rdfs:range"]}}</td></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

{% include footer.html %}
<button type="button" onclick="scrollTopFunction();" id="scroll-to-top" style="display: none;"></button>
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }

    var scrollButton = document.getElementById("scroll-to-top");

    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 250 || document.documentElement.scrollTop > 250) {
            scrollButton.style.display = "block";
        } else {
            scrollButton.style.display = "none";
        }
    }

    function scrollTopFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
<script src="/js/anchor.min.js"></script>
<script>
    anchors.add('h2, h3');
</script>
</body>
</html>