---
layout: compress
---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

{% include header.html header_name=page.header_name header_description=page.header_description %}

<div class="main-wrapper">
    <div class="main-content">
        <div class="page-sidebar vocabulary-sidebar">
            <div class="sidebar-menu-section">
                <div class="sidebar-section-title">Data Models</div>
                {% for vocabulary_item in site.vocabulary%}
                    {% if vocabulary_item.type == "data-model" %}
                        <div class="collapsible menu-header"><span class="menu-text">{{ vocabulary_item.name }}</span></div>
                        <div class="vocabulary-submenu" style="display: none;">
                            <div class="collapsible menu-subheader"><span class="menu-text">Classes</span></div>
                            {% assign vocab = site.data[vocabulary_item.jsonid] %}
                            {% assign graphItems = vocab["@graph"] %}
                            <ul class="collapsible-content sidebar-menu" style="display: none;">
                                {% for graphItem in graphItems %}
                                {% if graphItem["@type"] == "rdfs:Class" %}
                                <li>
                                    <a title='{{ graphItem["@id"] | replace_first: "unece:", "" }}' href='{{ vocabulary_item.url | prepend: site.baseurl }}#{{ graphItem["@id"] | replace_first: "unece:", "" }}'>{{ graphItem["@id"] | replace_first: "unece:", "" | truncate: 25, "..." }}</a>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                            <div class="collapsible menu-subheader"><span class="menu-text">Properties</span></div>
                            <ul class="collapsible-content sidebar-menu" style="display: none;">
                                {% for graphItem in graphItems %}
                                {% if graphItem["@type"] == "rdfs:Property" %}
                                <li>
                                    <a title='{{ graphItem["@id"] | replace_first: "unece:", "" }}' href='{{ vocabulary_item.url | prepend: site.baseurl }}#{{ graphItem["@id"]  | replace_first: "unece:", "" }}'>{{ graphItem["@id"] | replace_first: "unece:", "" | truncate: 25, "..." }}</a>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="sidebar-menu-section">
                <div class="sidebar-section-title">Code Lists</div>
                {% for vocabulary_item in site.vocabulary%}
                    {% if vocabulary_item.type == "code-list" %}
                        <div class="collapsible menu-subheader"><span class="menu-text">{{ vocabulary_item.name }}</span></div>
                        <ul class="collapsible-content sidebar-menu" style="display: none;">
                            {% assign vocab = site.data[vocabulary_item.jsonid] %}
                            {% assign codeListItems = vocab["@graph"] %}
                            {% for codeListItem in codeListItems %}
                                <li>
                                    <a title='{{ codeListItem["@id"] | replace_first: vocabulary_item.jsonid, "" | replace_first: ":", "" }}' href='{{ vocabulary_item.url | prepend: site.baseurl }}#{{ codeListItem["@id"] | replace_first: vocabulary_item.jsonid, "" | replace_first: ":", "" }}'>{{ codeListItem["@id"] | replace_first: vocabulary_item.jsonid, "" | replace_first: ":", "" | truncate: 25, "..." }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
            <div class="sidebar-menu-section">
                <div class="sidebar-section-title">Locodes</div>
                {% for vocabulary_item in site.vocabulary%}
                    {% if vocabulary_item.type == "locode" %}
                        <div class="collapsible menu-subheader"><span class="menu-text">{{ vocabulary_item.name }}</span></div>
                        <ul class="collapsible-content sidebar-menu" style="display: none;">
                            {% assign vocab = site.data[vocabulary_item.jsonid] %}
                            {% assign locodesItems = vocab["@graph"] %}
                            {% for locodeItem in locodesItems %}
                                <li>
                                    <a title='{{ locodeItem["@id"] | replace_first: vocabulary_item.jsonid, "" | replace_first: ":", "" }}' href='{{ vocabulary_item.url }}#{{ locodeItem["@id"] | replace_first: vocabulary_item.jsonid, "" | replace_first: ":", "" }}'>{{ locodeItem["@id"] | replace_first: vocabulary_item.jsonid, "" | replace_first: ":", "" | truncate: 25, "..." }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
            <div class="sidebar-menu-section">
                <div class="sidebar-section-title">UNCL</div>
                {% for vocabulary_item in site.vocabulary%}
                    {% if vocabulary_item.type == "uncl" %}
                        <div class="collapsible menu-subheader"><span class="menu-text">{{ vocabulary_item.name }}</span></div>
                        <ul class="collapsible-content sidebar-menu" style="display: none;">
                            {% assign vocab = site.data[vocabulary_item.jsonid] %}
                            {% assign codeListItems = vocab["@graph"] %}
                            {% for codeListItem in codeListItems %}
                                <li>
                                    <a title='{{ codeListItem["@id"] | replace_first: vocabulary_item.jsonid, "" | replace_first: ":", "" }}' href='{{ vocabulary_item.url  | prepend: site.baseurl}}#{{ codeListItem["@id"] | replace_first: vocabulary_item.jsonid, "" | replace_first: ":", "" }}'>{{ codeListItem["@id"] | replace_first: vocabulary_item.jsonid, "" | replace_first: ":", "" | truncate: 25, "..." }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>

        </div>
        <div class="page-content vocabulary-content">
            {% assign vocab = site.data[page.jsonid] %}
            {% assign graphItems = vocab["@graph"] %}
            {% for graphItem in graphItems %}
                {% if page.type == "code-list" %}
                    {% assign anchorId = graphItem["@id"] | replace_first: page.jsonid, "" | replace_first: ":", "" %}
                {% elsif page.type == "uncl" %}
                    {% assign anchorId = graphItem["@id"] | replace_first: page.jsonid, "" | replace_first: ":", "" %}
                {% elsif page.type == "locode" %}
                    {% assign anchorId = graphItem["@id"] | replace_first: page.jsonid, "" | replace_first: ":", "" %}
                {% else %}
                    {% assign anchorId = graphItem["@id"] | replace_first: "unece:", ""  %}
                {% endif %}
                {% assign currentClass = graphItem %}
                {% assign cefactElementMetadata = graphItem["unece:cefactElementMetadata"] %}


                <div class="vocabulary-item-row" id="{{ anchorId | downcase }}-row">
                    <h2 id="{{ anchorId }}">{{ anchorId }}</h2>
                    <ul class="vocabulary-item-data">
                        <li><strong>@id:</strong> {{ graphItem["@id"] }}
                        <li><strong>@type:</strong> {{ graphItem["@type"] }}</li>
                        {% if graphItem["schema:rangeIncludes"] %}
                            <li><strong>Range:</strong>
                                {% assign rangePrefix = graphItem["schema:rangeIncludes"] | slice: 0, 4 %}
                                {% if rangePrefix == "unece" %}
                                    <a href="#{{ graphItem["schema:rangeIncludes"] | replace_first: "unece:", "" }}">{{ graphItem["schema:rangeIncludes"] }}</a>
                                {% else %}
                                    {{ graphItem["schema:rangeIncludes"] }}
                                {% endif %}
                            </li>
                        {% endif %}
                        {% if graphItem["schema:domainIncludes"] %}
                            <li>
                                {% assign domains = graphItem["schema:domainIncludes"] %}
                                <strong>Domains:</strong>
                                {% if domains.first %}
                                    <br/>{% for domain in domains %}<a href="#{{ domain | replace_first: "unece:", "" }}">{{ domain }}</a>{% if forloop.last == false %}, {% endif %}{% endfor %}
                                {% else %}
                                    <a href="#{{ domains | replace_first: "unece:", "" }}">{{ domains }}</a>
                                {% endif %}
                            </li>
                        {% endif %}
                        {% if page.type == "code-list" %}
                            {% if graphItem["rdfs:comment"] != "" %}
                            <li><strong>rdfs:comment:</strong> {{ graphItem["rdfs:comment"] }}</li>
                            {% endif %}
                            {% if graphItem["rdf:value"] %}
                            <li><strong>rdf:value:</strong> {{ graphItem["rdf:value"] }}</li>
                            {% endif %}
                            {% for option in page.options  %}
                                {% if graphItem[option] %}
                                <li><strong>{{option}}:</strong> {{ graphItem[option] }}</li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if page.type == "locode" %}
                            {% if graphItem["rdfs:comment"] != "" %}
                            <li><strong>rdfs:comment:</strong> {{ graphItem["rdfs:comment"] }}</li>
                            {% endif %}
                            {% if graphItem["rdf:value"] %}
                            <li><strong>rdf:value:</strong> {{ graphItem["rdf:value"] }}</li>
                            {% endif %}
                            {% for option in page.options  %}
                                {% if graphItem[option] %}
                                <li><strong>{{option}}:</strong> {{ graphItem[option] }}</li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if page.type == "uncl" %}
                            {% if graphItem["rdfs:comment"] != "" %}
                            <li><strong>rdfs:comment:</strong> {{ graphItem["rdfs:comment"] }}</li>
                            {% endif %}
                            {% if graphItem["rdf:value"] %}
                            <li><strong>rdf:value:</strong> {{ graphItem["rdf:value"] }}</li>
                            {% endif %}
                            {% for option in page.options  %}
                                {% if graphItem[option] %}
                                <li><strong>{{option}}:</strong> {{ graphItem[option] }}</li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </ul>

                    {% assign item_properties = "" %}
                    {% assign item_properties = "" | split: ',' %}
                    {% for graphItem in graphItems %}
                        {% if graphItem["@type"] == "rdfs:Property" %}
                            {% assign range = graphItem["schema:rangeIncludes"] | slice: 0, 4 %}
                            {% if range == "xsd:" %}
                                {% if currentClass["@id"] contains graphItem["schema:domainIncludes"] or graphItem["schema:domainIncludes"] contains currentClass["@id"] %}
                                    {% assign item_properties = item_properties | push: graphItem %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if item_properties.first %}
                        <div class="vocabulary-item-card">
                            <h3 class="collapsible" id="{{ graphItem["@id"] | replace_first: "unece:", "" }}-properies">Properties</h3>
                            <div class="collapsible-content" style="display: none;">
                                {% if graphItem["@type"] == "rdfs:Class" %}
                                    {% if cefactElementMetadata %}
                                        <div class="vocabulary-item-filter">
                                            <strong>Show properties for:</strong>
                                            <select name="{{anchorId}}_context" id='{{ anchorId | downcase | append: "_filter" }}'>
                                                <option value="all">All contexts</option>
                                                {% for cefactElementMetadata in cefactElementMetadata %}
                                                    <option value='{{cefactElementMetadata["@id"] | slugify }}'>{{cefactElementMetadata["@id"] | replace_first: "cefact:", ""}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <script>
                                            const {{ anchorId | downcase | append: "_row" }} = document.getElementById('{{ anchorId | lowercase | prepend: "#" | append: "-row" }}');
                                            const {{ anchorId | downcase | append: "_filter" }} = document.querySelector('{{ anchorId | downcase | prepend: "#" | append: "_filter" }}');
                                            {{ anchorId | downcase | append: "_filter" }}.addEventListener('change', function (event) {
                                                let allProperties = document.querySelectorAll('{{ anchorId | downcase | prepend: "#" | append: "_table" }} [data-context]');
                                                let activeProperties = document.querySelectorAll('{{ anchorId | downcase | prepend: "#" | append: "_table" }} [data-context="' + event.target.value +'"]');

                                                for (i = 0; i < allProperties.length; ++i) {
                                                    allProperties[i].style.display = "none";
                                                };

                                                for (i = 0; i < activeProperties.length; ++i) {
                                                    activeProperties[i].style.display = "";
                                                };
                                            });
                                        </script>
                                    {% endif %}
                                {% endif %}
                                <table id='{{ anchorId | downcase | append: "_table" }}' class="vocabulary-item-properties">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Type</th>
                                        </tr>
                                    </thead>
                                    {% for property in item_properties%}
                                    <tbody>
                                        <tr data-context="all">
                                            <th><a href="#{{ property["@id"] | replace_first: "unece:", "" }}">{{property["@id"] | replace_first: "unece:", ""}}</a></th>
                                            <td>{{property["schema:rangeIncludes"]}}</td>
                                        </tr>
                                        {% for propertyCefactElement in property["unece:cefactElementMetadata"] %}
                                        <tr data-context="{{ propertyCefactElement["unece:cefactBieDomainClass"] | slugify }}" style="display: none;">
                                            <th><a href="#{{ property["@id"] | replace_first: "unece:", "" }}">{{property["@id"] | replace_first: "unece:", ""}}</a></th>
                                            <td>{{property["schema:rangeIncludes"]}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    {% endif %}

                    {% assign item_relationships = "" %}
                    {% assign item_relationships = "" | split: ',' %}
                    {% for graphItem in graphItems %}
                        {% if graphItem["@type"] == "rdfs:Property" %}
                            {% assign range = graphItem["schema:rangeIncludes"] | slice: 0, 4 %}
                            {% if range != "xsd:" %}
                                {% if currentClass["@id"] contains graphItem["schema:domainIncludes"] or graphItem["schema:domainIncludes"] contains currentClass["@id"] %}
                                    {% assign item_relationships = item_relationships | push: graphItem %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if item_relationships.first %}
                        <div class="vocabulary-item-card">
                            <h3 class="collapsible" id="{{ graphItem["@id"] | replace_first: "unece:", "" }}-relationships">Relationships</h3>
                            <div class="collapsible-content" style="display: none;">
                                {% if graphItem["@type"] == "rdfs:Class" %}
                                    {% if cefactElementMetadata %}
                                        <div class="vocabulary-item-filter">
                                            <strong>Show relationships for:</strong>
                                            <select name="{{anchorId}}_context" id='{{ anchorId | downcase | append: "_relationship_filter" }}'>
                                                <option value="all">All contexts</option>
                                                {% for cefactElementMetadata in cefactElementMetadata %}
                                                    <option value='{{cefactElementMetadata["@id"] | slugify }}'>{{cefactElementMetadata["@id"] | replace_first: "cefact:", ""}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <script>
                                            const {{ anchorId | downcase | append: "_relationship_filter" }} = document.querySelector('{{ anchorId | downcase | prepend: "#" | append: "_relationship_filter" }}');
                                            {{ anchorId | downcase | append: "_relationship_filter" }}.addEventListener('change', function (event) {
                                                let allProperties = document.querySelectorAll('{{ anchorId | downcase | prepend: "#" | append: "_relationship_table" }} [data-context]');
                                                let activeProperties = document.querySelectorAll('{{ anchorId | downcase | prepend: "#" | append: "_relationship_table" }} [data-context="' + event.target.value +'_rs"]');

                                                for (i = 0; i < allProperties.length; ++i) {
                                                    allProperties[i].style.display = "none";
                                                };

                                                for (i = 0; i < activeProperties.length; ++i) {
                                                    activeProperties[i].style.display = "";
                                                };
                                            });
                                        </script>
                                    {% endif %}
                                {% endif %}

                                <table id='{{ anchorId | downcase | append: "_relationship_table" }}' class="vocabulary-item-properties">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Type</th>
                                        </tr>
                                    </thead>
                                    {% for relationship in item_relationships%}
                                        <tbody>
                                            <tr data-context="all_rs">
                                                <th><a href="#{{ relationship["@id"] | replace_first: "unece:", "" }}">{{relationship["@id"] | replace_first: "unece:", ""}}</a></th>
                                                <td><a href="#{{ relationship["schema:rangeIncludes"] | replace_first: "unece:", "" }}">{{relationship["schema:rangeIncludes"]}}</a></td>
                                            </tr>
                                            {% for relationshipCefactElement in relationship["unece:cefactElementMetadata"] %}
                                            <tr data-context="{{ relationshipCefactElement["unece:cefactBieDomainClass"] | slugify | append: "_rs" }}" style="display: none;">
                                                <th><a href="#{{ relationship["@id"] | replace_first: "unece:", "" }}">{{relationship["@id"] | replace_first: "unece:", ""}}</a></th>
                                                <td><a href="#{{ relationship["schema:rangeIncludes"] | replace_first: "unece:", "" }}">{{relationship["schema:rangeIncludes"]}}</a></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                   {% endfor %}
                                </table>
                            </div>
                        </div>
                    {% endif %}

                    {% assign item_ranges = "" %}
                    {% assign item_ranges = "" | split: ',' %}
                    {% for graphItem in graphItems %}
                        {% if graphItem["@type"] == "rdfs:Property" %}
                            {% if currentClass["@id"] contains graphItem["schema:rangeIncludes"] %}
                                {% assign item_ranges = item_ranges | push: graphItem %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    {% if item_ranges.first %}
                        <div class="vocabulary-item-card">
                            <h3 class="collapsible" id="{{ graphItem["@id"] | replace_first: "unece:", "" }}-ranges">Referenced by</h3>
                            <div class="collapsible-content" style="display: none;">
                            {% for item_range in item_ranges %}
                                <a href="#{{ item_range["@id"] | replace_first: "unece:", "" }}">{{ item_range["@id"] | replace_first: "unece:", "" }}</a>{% if forloop.last == false %}, {% endif %}
                            {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    {% if cefactElementMetadata %}
                        <div class="vocabulary-item-card">
                            <h3 class="collapsible" id="{{ graphItem["@id"] | replace_first: "unece:", "" }}-cefact-data">CEFACT Element Data</h3>
                            <div class="collapsible-content" style="display: none;">
                            {% for cefactElementMetadata in cefactElementMetadata %}
                            <table>
                                <tbody>
                                    <tr>
                                        <th>@id</th>
                                        <td>{{cefactElementMetadata["@id"]}}</td>
                                    </tr>
                                    <tr>
                                        <th>@type</th>
                                        <td>{{cefactElementMetadata["@type"]}}</td>
                                    </tr>
                                    <tr>
                                        <th>unece:cefactUNId</th>
                                        <td>{{cefactElementMetadata["unece:cefactUNId"]}}</td>
                                    </tr>
                                    <tr>
                                        <th>rdfs:comment</th>
                                        <td><p>{{cefactElementMetadata["rdfs:comment"]}}</p></td>
                                    </tr>
                                    {% if cefactElementMetadata["unece:cefactBieDomainClass"] %}
                                    <tr>
                                        <th>unece:cefactBieDomainClass</th>
                                        <td>{{cefactElementMetadata["unece:cefactBieDomainClass"]}}</td>
                                    </tr>
                                    {% endif %}
                                    <tr>
                                        <th>unece:cefactBusinessProcess</th>
                                        <td>{{cefactElementMetadata["unece:cefactBusinessProcess"]}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

{% include footer.html %}
<button type="button" onclick="scrollTopFunction();" id="scroll-to-top" style="display: none;"></button>
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }

    var scrollButton = document.getElementById("scroll-to-top");

    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 250 || document.documentElement.scrollTop > 250) {
            scrollButton.style.display = "block";
        } else {
            scrollButton.style.display = "none";
        }
    }

    function scrollTopFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
<script src="{{site.baseurl}}/js/anchor.min.js"></script>
<script>
    anchors.add('h2, h3');
</script>
</body>
</html>
